/*
 Theme Name:   I Am Zee (GeneratePress Child) Theme
 Theme URI:    https://generatepress.com
 Description:  Custom theme made for I Am Zee Shop (Wordpress Woocommerce Website) (To use GeneratePress Theme as Parent)
 Author:       Raunak Singh
 Author URI:   https://alfanitoz.com
 Template:     generatepress
 Version:      1.0
*/

